<h1>Oh, the places you've been!</h1>
<br />
<br />
<h5>Here's where you've been:</h5>
<br />
<ul>
  <% @places.each() do |place| %>
    <li><%= place.description() %></li>
  <% end %>
</ul>
<br />
<br />
<h5>Log a new destination:</h5>
<br />

<form action="/success" method="post">
  <label for="place_example">Destination</label>
  <input id="place_example" name="place_example" type="text" required="required">

  <button type="submit" class="btn btn-primary">Add Destination</button>
</form>
