<h2>Success!</h2>
<h3>Job <%= @job_title %> at <%= @job_name %> has been successfully added.</h3>
<br />
<form action="/job_form">
  <button type="submit" class="btn btn-primary">Back to list</button>
</form>
